Repository Glatzel/test-ci: changes, and which Codecov flags are due for each by the changed paths.
All: a, b

Update test_a.py
  src/test_a.py
Due: a

Update codecov.yml
  codecov.yml
Due: none

Update test_b.py
  src/test_b.py
Due: b

fix
  .github/workflows/bench.yml
  pixi.lock
  pixi.toml
  src/__pycache__/test_a.cpython-313-pytest-8.3.3.pyc
  src/__pycache__/test_b.cpython-313-pytest-8.3.3.pyc
  src/test_a.py
Due: a

fix
  pixi.toml
Due: none

fix
  pixi.lock
  src/test_a.py
  src/test_b.py
Due: a, b

Update test.yml
  .github/workflows/test.yml
Due: none

Create markdownlint.json
  markdownlint.json
Due: none

Create .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update markdownlint.json
  markdownlint.json
Due: none

Create readme.md
  readme.md
Due: none

Update readme.md
  readme.md
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Path conditions:
  a: any of: src/*a.py
  b: any of: src/*b.py
